{% extends "includes/base.html" %}

{% block title %}
    {{ bank.name }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-primary">{{ bank.name }}</h1>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <a href="{% url 'finsys:bank-transfer-create' %}" class="btn btn-success">Transfer Amount</a>
        </div>

        {% include 'includes/date_filter.html' %}

        <div class="container mt-4">
            <h2 class="mb-3">History</h2>
            <table class="table table-bordered table-hover" id="dataTable">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    {% include 'includes/sortable_date.html' %}
                    <th>From</th>
                    <th>To</th>
                    <th>Type ( Credit / Debit )</th>
                    <th>Amount</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody id="table-body">
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="entry-date">{{ transaction.date }}</td>
                        <td>{{ transaction.head }}</td>
                        <td>{{ transaction.from_where }}</td>
                        <td>{{ transaction.get_transaction_type_display }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>
                            <a href="{% url 'finsys:bank-transfer-delete' pk=transaction.pk %}" class="btn btn-warning" onclick="retutn confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No Journal Entries Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
