{% extends "includes/base.html" %}

{% block title %}
    Capital
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3">
            <h1 class="text-primary text-center text-lg-start">
                Total Capital: <span class="fw-bold">{{ capital.balance | default:0.0 }}</span>
            </h1>
            <a href="{% url 'finsys:capital-add-amount' %}" class="btn btn-success mt-3 mt-lg-0">Add Amount</a>
        </div>

        <!-- Date Filter Section -->
        {% include 'includes/date_filter.html' %}

        <div class="container mt-4">
            <h2 class="mb-3">History</h2>

            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable">
                    <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        {% include 'includes/sortable_date.html' %}
                        <th>From</th>
                        <th>Bank</th>
                        <th>Amount</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>History</th>
                    </tr>
                    </thead>
                    <tbody id="table-body">
                    {% for entry in entries %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="entry-date">{{ entry.date }}</td>
                            <td>{{ entry.from_where }}</td>
                            <td>{{ entry.bank }}</td>
                            <td>{{ entry.amount }}</td>
                            <td><a href="{% url 'finsys:capital-details' entry.pk %}"
                                   class="btn btn-info btn-sm">View</a></td>
                            <td><a href="{% url 'finsys:capital-update' entry.pk %}"
                                   class="btn btn-warning btn-sm">Edit</a></td>
                            <td><a href="{% url 'finsys:capital-history' entry.pk %}" class="btn btn-secondary btn-sm">History</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">No Journal Entries Found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <style>
        @media (max-width: 768px) {
            .btn {
                width: 100%;
                margin-bottom: 8px;
            }
        }
    </style>
{% endblock %}
