{% extends "includes/base.html" %}

{% block title %}
    Capital
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-primary">Total Capital: <span class="fw-bold">{{ capital.balance | default:0.0 }}</span>
            </h1>
            <a href="{% url 'finsys:capital-add-amount' %}" class="btn btn-success">Add Amount</a>
        </div>

        <div class="container mt-4">
            <h2 class="mb-3">History</h2>
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Reference Number</th>
                    <th>From</th>
                    <th>Bank</th>
                    <th>Amount</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th> History</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.reference_number }}</td>
                        <td>{{ entry.created_by.username }}</td>
                        <td>
                            <table class="table table-sm table-striped">
                                <thead>
                                <tr>
                                    <th>Account</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for line in entry.lines.all %}
                                    <tr>
                                        <td>{{ line.account.name }}</td>
                                        <td>
                                            {% if line.entry_type == 1 %} Debit {% else %} Credit {% endif %}
                                        </td>
                                        <td>{{ line.amount }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3" class="text-center">No Entries</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>{{ line.amount }}</td>

                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No Journal Entries Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
