{% extends "includes/base.html" %}

{% block title %}
    History
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="container mt-4">
            <h2 class="mb-3">History</h2>
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>From</th>
                    <th>Bank</th>
                    <th>Amount</th>
                    <th>user</th>
                    <th>Create At</th>
                    <th>Updated At</th>
                    <th>~</th>
                </tr>
                </thead>
                <tbody>
                {% for line in entries %}
                    {% for entry in line.history.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ entry.date }}</td>
                            <td>{{ entry.from_where }}</td>
                            <td>{{ entry.bank }}</td>
                            <td>{{ entry.amount }}</td>
                            <td>{{ entry.user }}</td>
                            <td>{{ entry.created_at }}</td>
                            <td>{{ entry.updated_at }}</td>
                            {% if entry.history_type == "+" %}
                                <td>Created</td>
                            {% elif entry.history_type == "~" %}
                                <td>Edited</td>
                            {% elif entry.history_type == "-" %}
                                <td>Deleted</td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No Journal Entries Found</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
