{% extends "includes/base.html" %}

{% block title %}
    History
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="container mt-4">
            <h2 class="mb-3">History</h2>
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>From</th>
                    <th>Bank</th>
                    <th>Amount</th>
                    <th>user</th>
                    <th>Create At</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.from_where }}</td>
                        <td>{{ entry.bank }}</td>
                        <td>{{ entry.amount }}</td>
                        <td>{{ entry.user }}</td>
                        <td>{{ entry.created_at }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No Journal Entries Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
