{% extends "includes/base.html" %}

{% block title %}
    Loan
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-primary">Total Loan: <span class="fw-bold">{{ loan.balance | default:0.0 }}</span>
            </h1>
            <a href="{% url 'finsys:loan-add-amount' %}" class="btn btn-success">Take Loan</a>
        </div>

        <div class="container mt-4">
            <h2 class="mb-3">History</h2>
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>From</th>
                    <th>Bank</th>
                    <th>Amount</th>
                    <th>View</th>
                    <th>Pay</th>
                    <th>Edit</th>
                    <th>History</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.from_where}}</td>
                        <td>{{ entry.bank }}</td>
                        <td>{{ entry.amount }}</td>
                        <td><a href="{% url 'finsys:loan-details' entry.pk %}" class="btn btn-success">View</a></td>
                        <td><a href="{% url 'finsys:loan-pay' entry.bank.pk %}" class="btn btn-success">Pay</a></td>
                        <td><a href="{% url 'finsys:loan-update' entry.pk %}" class="btn btn-success">Edit</a></td>
                        <td><a href="{% url 'finsys:loan-history' %}" class="btn btn-success">History</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No Journal Entries Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
