{% extends "includes/base.html" %}

{% block title %}
    Trial Balance
{% endblock %}

{% block content %}
    <div class="container mt-4">

        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3">
            <h1 class="text-primary text-center text-lg-start">Total: <span
                    class="fw-bold">{{ total | default:0.0 }}</span></h1>
        </div>
        <div class="d-flex justify-content-between">
            <ul>
                {% for bank in banks %}
                    <li>{{ bank.name }}: {{ bank.balance }}</li>
                {% endfor %}
            </ul>
            <ul>
                <li id="status">{{ status }} - {{ amount }}</li>
            </ul>
        </div>

        <h2 class="mb-3">Transactions</h2>

        {% include 'includes/date_filter.html' %}

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Head</th>
                    <th>From</th>
                    <th>Bank</th>
                    <th>Type (Credit/Debit)</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="entry-date">{{ transaction.date }}</td>
                        {% if transaction.head %}
                            <td>{{ transaction.head }}</td>
                        {% else %}
                            <td>Depreciation</td>
                        {% endif %}
                        <td>{{ transaction.from_where }}</td>
                        <td>{{ transaction.bank }}</td>
                        <td>{{ transaction.get_transaction_type_display }}</td>
                        <td>{{ transaction.amount }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No Journal Entries Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <style>
        @media (max-width: 768px) {
            .btn-group {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            .btn-group a {
                margin-bottom: 8px;
            }
        }
    </style>

    <script>
        function fetchData() {
            // Get the selected dates
            const singleDate = document.getElementById('singleDate').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;

            // Prepare the URL with the query parameters if any date is selected
            let url = '{% url 'finsys:api-profit-loss' %}?';
            if (singleDate) url += `date=${singleDate}`;
            if (startDate && endDate) url += `&start=${startDate}&end=${endDate}`;
            console.log(url)

            // Make the GET request if there's any date selected
            if (singleDate || (startDate && endDate)) {
                fetch(url)
                    .then(response => response.json()) // Assuming the response is JSON
                    .then(data => {
                        document.getElementById('status').innerText = JSON.stringify(data.status, null, 2);
                    })
                    .catch(error => {
                        document.getElementById('response-content').innerText = 'Error fetching data';
                    });
            }
        }

        // Add event listeners for each date input field to trigger the request
        document.getElementById('singleDate').addEventListener('change', fetchData);
        document.getElementById('startDate').addEventListener('change', fetchData);
        document.getElementById('endDate').addEventListener('change', fetchData);
    </script>

{% endblock %}
