{% extends "includes/base.html" %}

{% block title %}
    Trial Balance
{% endblock %}

{% block content %}
        <div class="container mt-4">
            <h2 class="mb-3">Transactions</h2>

            {% include 'includes/date_filter.html' %}

            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable">
                    <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Head</th>
                        <th>From</th>
                        <th>Bank</th>
                        <th>Type (Credit/Debit)</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="entry-date">{{ transaction.date }}</td>
                            <td>{{ transaction.head }}</td>
                            <td>{{ transaction.from_where }}</td>
                            <td>{{ transaction.bank }}</td>
                            <td>{{ transaction.get_transaction_type_display }}</td>
                            <td>{{ transaction.amount }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No Journal Entries Found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <style>
        @media (max-width: 768px) {
            .btn-group {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            .btn-group a {
                margin-bottom: 8px;
            }
        }
    </style>

{% endblock %}
